html {
  font-size: 16px;
}

body {
  background-image: url("https://picsum.photos/id/231/600/400");
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  width: 80%;
  height: auto;
  background-color: rgba(255, 255, 255, 0.4);
}

.container__intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.container__intro > h1 {
  width: 25rem;
  font-size: 3.3rem;
  font-family: 'Times New Roman';
  -ms-grid-column-align: left;
      justify-self: left;
}

.container__intro--explanation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 30rem;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  font-family: sans-serif;
}

.container__intro--explanation > h3 {
  font-size: 2.1rem;
}

.container__intro--explanation > p {
  font-size: 1.5rem;
}

.container__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 100%;
  height: 130vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container__pictures div:nth-child(1) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container__pictures div:nth-child(3) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container__pictures div:nth-child(4) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container__pictures div:nth-child(6) {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.container__pictures div:nth-child(2) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container__pictures div:nth-child(5) {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.container__pictures--members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20rem;
  height: 23rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 2rem 1rem;
  font-size: 1.5rem;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.container__pictures--members > img {
  width: 16rem;
  height: 21rem;
  border-radius: 2rem;
}

.container__pictures--members > .duty {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0 0 0 0.5rem;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.container__pictures--members > .name {
  -ms-flex-item-align: start;
      align-self: flex-start;
  font-weight: 900;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media screen and (max-width: 800px) {
  html {
    font-size: 10px;
  }
  .container__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container__pictures {
    height: 100vh;
  }
  .container__pictures > div:nth-child(odd) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .container__pictures > div:nth-child(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 5px;
  }
  .container__intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .container__pictures {
    height: 100vh;
  }
  .container__pictures > div:nth-child(odd) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .container__pictures > div:nth-child(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*# sourceMappingURL=style.css.map */